
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}
.hero{
    height:100vh;
    width: 100%;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: center;
   
}
.hero nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 8%;
    padding-right: 8%;
}
.hero .logo{
    color: #fff;
    font-size:25px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: bold;
}
.hero .btn{
    background-color:#008CBA;;
    color: white;
    font-size: 12px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   display: inline-block;
   border-radius: 8px
}
.hero nav ul li {
list-style-type: none;
list-style: none;
display: inline-block;
padding: 10px 25px ;
}

.hero nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
.hero nav ul li a:hover {
    color:#008CBA;;
    transition: .4s;
}
.hero p{
    color: #fff;
    font-weight: bold;
    text-transform: capitalize;
}
  p:hover{
    color:#008CBA;;
    transition: .4s;
  }
.btn{
    background-color:#008CBA;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    font-size: 12px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:2px solid transparent;
    border-radius: 8px;
    transition: transform .4s;
    }
    .btn:hover{
        transform: scale(1.2);
    }
.content {
    position: absolute;
    transform: translateY(50%);
    text-align: center;
    padding-left: 450px;
    padding-top: 10px;   
}

.content h1{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 1px;
}
.content p{
    color: #fff;
    margin: 20px 0px 20px 0px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}
.button{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
.button button{
    background-color:hsl(195, 100%, 36%);
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    font-size: 12px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:2px solid transparent;
    border-radius: 50px;
    transition: transform .4s;
}
.card{
    display: flex;
    color: black;
    margin-top: 525px;
    align-items: center;
    justify-content: space-around;
    
}

.card-one{
    background-color: white;
    border: 3px solid purple; 
   justify-content:center;
     padding-left: 15px;
}
.card-one p{
    color: black;
    
}

.card .card-one h3{
    margin-top: 3px;
    font-size:15px;
    font-weight: bold;
    font-family: sans-serif;
}
.card .card-one p{
    margin-top: 3px;
    font-size:10px;
    font-family: serif;
    color:grey;

}

.card-two{
    background-color: white;
    border: 3px solid purple; 
    justify-content:center;
    padding-left: 15px;
  }
  .card-two p{
    color: black;
}
.card-three{
    background-color: white;
    border: 3px solid purple; 
    justify-content:center;
    padding-left: 15px;
  }
  .card-three p{
    color: black;
}
.industry{
    color: black;
    align-items: center;
    margin: auto;
}
.industry h3{
    font: size 18px;
    color: black;
    font-weight: bold;
    text-transform: capitalize
}

.review{
    display:flex;
    justify-content:center;
    gap: 20px;
}
.review .cards .profile{
    height: 100px;
     width: 100px;
     align-items: center;
}
.review .cards p{
    text-align: center;
    color:black;
    font-family: serif;
    color:rgb(107, 106, 106);
    font-size: 12px;
}
.review .cards .review-image{
    display:flex;
    justify-content: center;
}

.company{
    display: flex;
    border: 2px solid black;
    
}

.company .company-logo{
    height: 30px;
     width: 30px;
}







.section-four{
   border: 3px solid pink; 
   margin-top: 30px;
   margin-bottom: 20px;
  text-align: center;
}
.section-four h3{
    margin-top: 5px;
    text-decoration: solid;
   font: 1.3rem sans-serif;;
}
 
.section-four p{
    font-size: 0.2rem;
    margin-top: 10px;
    border: 3px solid yellow;
}

.section-five{
    border: 3px solid green;
    display: flex;
    gap: 50px;
    justify-content:center;
    margin-top: 20px;
}

 